<div class="invite-list__post">
  <div class="invite-list__post__upper">
    <%= image_tag "tennis-racket.jpg", class: "invite-list__post__upper--avatar", height: 80, width: 80 %>
    <div class="invite-list__post__upper--user">
      主催者：test
      <div class="invite-list__post__upper--level">
        募集レベル：誰でも
      </div>
    </div>
    <div class="invite-list__post__upper--day">
      開催日：2020/06/26 11:00 ~ 13:00
      <div class="invite-list__post__upper--capacity">
        定員：4名
      </div>
    </div>
    <div class="invite-list__post__upper--place">
      会場：豊田地域文化広場
    </div>
    <div class="invite-list__post__upper--address">
      住所：愛知県豊田市西田町けやき１番地
    </div>
  </div>

  <div class="invite-list__post__lower">
    <div class="invite-list__post__lower--title">
      誰でも歓迎！練習仲間を募集します！
    </div>
  </div>
</div>
