.card {
  display: inline-flex;
  width: 255px;
  margin: 0 15px 30px;
  border: solid 1px #EEEEEE;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.card-writer {
  padding: 10px 20px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &__name {
    color: #444444;
  }
  :hover {
    color: #0056B3;
    text-decoration: none;
  }
}

.practice-day {
  margin: 0;
  padding-top: 3px;
}

.card-body {
  padding: 15px 0 5px;
  border-top: solid 1px #EEEEEE;
  :hover {
    text-decoration: none;
  }
}

.book-icon {
  display: block;
  color: #444444;
  font-size: 34px;
  line-height: 35px;
  padding-bottom: 3px;
  :hover {
    transform: scale(1.1, 1.1);
  }
}

.card-text {
  margin: 0;
}

.comment-count {
  padding-right: 10px;
  letter-spacing: 1px;
}

.likes {
  display: inline-block;
  margin: 0;
  :hover {
    color: #0056B3;
  }
}

.vertical_like {
  color: #444444;
  :hover {
    transform: scale(1.1, 1.1);
  }
}

.edit-icon {
  color: #444444;
  padding: 0 5px 0 19px;
}

.destroy-icon {
  color: #444444;
  padding-left: 5px;
}
