.posts {
  color: #444444;
  text-decoration-line: underline;
}

.follow {
  color: #444444;
  text-decoration-line: underline;
}

.follow-list {
  display: inline-block;
  background-color: #FFFFFF;
  height: 177px;
  line-height: 60px;
  width: 255px;
  margin: 0 15px 30px;
  padding-top: 20px;
  font-size: 24px;
  border: solid 1px #EEEEEE;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  &__name {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  :hover {
    color: #0056B3;
  }
}
