.posts {
  color: #333333;
  text-decoration-line: underline;
}

.follow {
  color: #333333;
  text-decoration-line: underline;
}

.follow-list {
  display: inline-grid;
  background-color: #FFFFFF;
  min-width: 200px;
  border-radius: 5px;
  font-size: 24px;
  margin-top: 20px;
}
