.navbar {
  background-color: #E4FF8D;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.title {
  font: 24px 'Caveat';
  font-weight: bold;
}

.my-page {
  color: black;
  padding: 8px 10px;
  font-weight: bold;
  text-decoration-line: underline;
}

.header-list {
  color: black;
  padding: 8px 10px;
}
