.navbar {
  background-color: #E4FF8D;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.title {
  font: 24px 'Caveat';
  font-weight: bold;
}

.my-page {
  :hover {
    color: #0056B3;
  }
  &__avatar {
    border-radius: 50%;
  }
  &__name {
    color: black;
    font-weight: bold;
    padding-right: 8px;
  }
}

.header-list {
  color: black;
  padding: 8px 10px;
}
