.practice {
  background-image: image-url("tennis-court.jpeg");
  background-size: 100%;
  padding-bottom: 16px;
}

.practice-info {
  display: inline-block;
  height: 110px;
  width: 100vw;
  color: #F5F5F5;
  text-align: center;
  margin-top: 20px;
}

.practice-person {
  color: #F5F5F5;
  text-decoration-line: underline;
}

.practice-image {
  text-align: center;
  padding: 24px 0;
}

.practice-main {
  display: flex;
}

.practice-memo {
  display: table;
  background-color: #F5F5F5;
  min-height: 46px;
  width: 600px;
  margin-left: 100px;
  padding: 0 8px 5px;
  border-radius: 5px;
  &__header {
    color: #444444;
    text-align: center;
    padding-top: 10px;
  }
  &__body {
    display: inline;
    color: #444444;
    line-height: 1.8;
    font-size: 18px;
    border-bottom: dotted 0.5px #444444;
  }
}

.comment-wrapper {
  width: 400px;
  margin-left: 100px;
}

.comment-form {
  background-color: #F5F5F5;
  height: 160px;
  width: 500px;
  padding: 14px;
  border-radius: 5px;
  margin-bottom: 20px;
  &__box {
    margin-bottom: 24px;
  }
}

.comments {
  background-color: #F5F5F5;
  min-height: 46px;
  width: 500px;
  border-radius: 5px;
  &__header {
    color: #444444;
    padding-top: 10px;
    text-align: center;
  }
  &__text {
    color: #444444;
    padding: 0 5px 0 15px;
    text-align: left;
    font-size: 18px;
  }
}
