.user-main {
  background: #F5F5F5;
  &__content {
    width: 1000px;
    padding-top: 20px;
    text-align: center;
  }
}

.user-form {
  display: flex;
  background-color: #F5F5F5;
  height: 100%;
  &__main {
    width: 50%;
    text-align: center;
  }
}

.profile-wrapper {
  height: 130px;
}

.profile {
  display: flex;
  &__image {
    cursor: pointer;
    :hover {
      opacity: 0.7;
    }
    &--field {
      display: none;
    }
    &__destroy {
      margin-top: 20px;
      text-align: left;
      &--checkbox {
        margin-right: 2px;
        cursor: pointer;
        transform: scale(1.2);
      }
      &--text {
        font-size: 13px;
      }
    }
  }
  &__name {
    margin-top: 34px;
    margin-left: 8px;
  }
}

#user_name-error,
#user_email-error,
#user_password-error,
#user_password_confirmation-error,
#user_current_password-error {
  color: #ea352d;
  font-size: 14px;
}
