.user-main {
  background: #F5F5F5;
  &__content {
    width: 1000px;
    padding-top: 20px;
    text-align: center;
  }
}

.user-form {
  display: flex;
  background-color: #F5F5F5;
  height: calc(100vh - 56px);
  &__main {
    width: 50%;
    text-align: center;
  }
}

.profile {
  display: flex;
  &__image {
    cursor: pointer;
    &--field {
      display: none;
    }
  }
  &__name {
    margin-top: 34px;
    margin-left: 8px;
  }
}

#user_name-error,
#user_email-error,
#user_password-error,
#user_password_confirmation-error,
#user_current_password-error {
  color: #ea352d;
  font-size: 14px;
}
