.notification {
  .notice {
    background-color: #FFFF33;
    color: black;
    border-top: solid 0.1px black;
    text-align: center;
  }

  .alert {
    background-color: red;
    text-align: center;
  }
}