.notification {
  .notice {
    background-color: #E4FF8D;
    color: black;
    border-top: solid 0.1px black;
    text-align: center;
  }

  .alert {
    background-color: red;
    text-align: center;
    margin: 0;
  }
}
