body {
  background-image: image-url("tennis-court.jpeg");
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 56px;
}
.card-columns {
  display: inline-flex;
}

.dropdown-menu {
  text-align: center;
}

.container {
  max-width: 300px;
}

.pagination {
  justify-content: center;
}