/*
 *= require tempusdominus-bootstrap-4
 */

@import "reset";
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/*";

body {
  padding-top: 56px;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic','メイリオ','ＭＳ Ｐゴシック','MS PGothic';
}

input[type=text]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #0098E8;
}

input[type=text].invalid {
  border: solid 1px #EA352D;
}

input[type=text].valid {
  border: solid 1px #3CB371;
}
