@import url('https://fonts.googleapis.com/css?family=Caveat');
@import "bootstrap";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "tempusdominus-bootstrap-4.css";
@import "./flash";
@import "./reset";
@import "./variable";
@import "./user";
@import "./logs";

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  outline: none;
  border-color: #0098E8;
}

input.invalid,
textarea.invalid {
  border: solid 1px #EA352D;
}

input.valid,
textarea.valid {
  border: solid 1px #3CB371;
}
