body {
  text-align: center;
  padding-top: 56px;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic','メイリオ','ＭＳ Ｐゴシック','MS PGothic';
}

.navbar {
  background-color: #E4FF8D;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.title {
  font: 24px 'Caveat';
  font-weight: bold;
}

.my-page {
  color: black;
  padding: 8px 10px;
  font-weight: bold;
  text-decoration-line: underline;
}

.header-list {
  color: black;
  padding: 8px 10px;
}

.main-info {
  position: relative;
  height: 395px;
  &__text {
    position: absolute;
    color: #F5F5F5;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic','メイリオ','ＭＳ Ｐゴシック','MS PGothic';
    top: 150px;
    left: 150px;
  }
}

.main-content {
  background-color: #F5F5F5;
  display: flex;
  &__cards {
    color: #444444;
    padding-top: 20px;
    width: 1000px;
  }
}

.side-bar {
  background-color: #FFFFFF;
  position: absolute;
  top: 116px;
  right: 80px;
  width: 280px;
  &__list {
    display: block;
    color: #333333;
    height: 48px;
    line-height: 48px;
    padding: 0 15px 0 16px;
    border-bottom: solid 1.2px #EEEEEE;
  }
  &__list:hover {
    background-color: #EEEEEE;
  }
}

.wrapper {
  background-color: #F5F5F5;
  height: calc(100vh - 56px);
  &__user {
    width: 1000px;
  }
}

.card {
  display: inline-flex;
  width: 255px;
  border: solid 1px #F5F5F5;
  margin: 0 15px 30px;
}

.card-writer {
  border-bottom: none;
  padding: 10px 20px 5px;
}

.practice-day {
  margin: 0 0 5px;
}

.card-body {
  padding: 10px 0 5px;
  border-top: solid 1px #F5F5F5;
}

.book-icon {
  color: #444444;
  font-size: 30px;
  line-height: 35px;
}

.card-text {
  margin: 0;
}

.comment-count {
  padding-right: 10px;
  letter-spacing: 1px;
}

.likes {
  display: inline-block;
  margin: 0;
}

.vertical_like {
  color: #444444;
}

.edit-icon {
  color: #444444;
  padding: 0 5px 0 19px;
}

.destroy-icon {
  color: #444444;
  padding-left: 5px;
}

.container {
  max-width: 400px;
}

.practice {
  background-image: image-url("tennis-court.jpeg");
  background-size: 100%;
}

.practice-info {
  display: inline-block;
  height: 110px;
  width: 100vw;
  color: #F5F5F5;
  margin-top: 20px;
}

.practice-person {
  color: #F5F5F5;
  text-decoration-line: underline;
}

.practice-memo {
  display: inline-block;
  min-height: 320px;
  width: 750px;
  background-color: #F5F5F5;
  border-radius: 5px;
  &__header {
    color: #444444;
    padding-top: 10px;
  }
  &__body {
    display: inline;
    color: #444444;
    line-height: 1.8;
    font-size: 18px;
    border-bottom: dotted 0.5px #444444;
  }
}

.practice-image {
  padding-top: 20px;
}

.comments {
  display: inline-block;
  max-height: 460px;
  width: 650px;
  background-color: #F5F5F5;
  border-radius: 5px;
  overflow: scroll;
  &__header {
    color: #444444;
    padding-top: 10px;
    text-align: center;
  }
  &__text {
    color: #444444;
    padding: 0 5px 0 15px;
    text-align: left;
    font-size: 18px;
  }
}

#log-form {
  display: flex;
}

.form-left {
  background-color: #F5F5F5;
  color: #444444;
  height: 550px;
  width: 300px;
  padding-top: 10px;
  margin: 40px 0 0 80px;
  &__day {
    height: 70px;
    padding: 0 40px;
  }
  &__times {
    display: inline-table;
    padding-top: 22px;
    &__wrap{
      height: 84px;
      &__list {
        display: block;
        &--field {
          width: 110px;
          text-align: right;
          border: solid 1px #D3D3D3;
          border-radius: 3px;
          padding: 0 8px;
        }
      }
    }
  }
}

.form-right {
  background-color: #F5F5F5;
  color: #444444;
  width: 605px;
  padding-top: 10px;
  margin: 40px 0 0 10px;
}

.submit-button {
  margin-left: 20px;
}

.posts {
  color: #333333;
  text-decoration-line: underline;
}

.follow-list {
  display: inline-grid;
  background-color: #FFFFFF;
  min-width: 200px;
  border-radius: 5px;
  font-size: 24px;
  margin-top: 20px;
}

.follow {
  color: #333333;
  text-decoration-line: underline;
}

.pagination {
  margin: 0;
  padding-bottom: 16px;
  justify-content: center;
}

#log_practice_day-error,
#log_serve-error,
#log_smash-error,
#log_volley-error,
#log_stroke-error,
#log_game-error {
  color: #ea352d;
  font-size: 12px;
}
