<div class="main-info">
  <p>Tennis Notesは日々の練習を記録して共有し、練習内容について、ユーザー同士で意見交換し合えるアプリです。</p>
  <p>日頃の積み重ねを可視化する事で、モチベーションにも繋がります。</p>
  <p>日々の練習をより濃いものとし、ライバルに差を付けましょう！</p>
</div>

<% @log.each do |log| %>
  <%= render partial: 'log', locals: { log: log } %>
<% end %>
<%= paginate(@log) %>