<body> 
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="/">TennisPracticePlus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">New <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">LogIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">LogOut</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">SignUp</a>
        </li>
      </ul>
    </div>
  </nav>
  <p>Tennis Practice Plusは日々の練習を記録して共有し、練習内容について、ユーザー同士で意見交換し合えるアプリです。</p>
  <p>日頃の積み重ねを可視化する事で、モチベーションにも繋がります。</p>
  <p>日々の練習をより濃いものとし、ライバルに差を付けましょう！</p>
</body>